/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/Components/Market/ApexChart/SectorPerformanceChart/SectorPerformanceTable.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.SectorPerformanceTable_tableContainer__YOxb2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
  }
  
  .SectorPerformanceTable_performanceTable__lKO4P {
    border-collapse: collapse;
    width: 100%;
    /* max-width: 800px; */
  }
  
  .SectorPerformanceTable_performanceTable__lKO4P th,
  .SectorPerformanceTable_performanceTable__lKO4P td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .SectorPerformanceTable_performanceTable__lKO4P th {
    background-color: #4CAF50;
    color: white;
  }
  
  .SectorPerformanceTable_performanceTable__lKO4P td {
    font-size: 16px;
  }
  
  .SectorPerformanceTable_performanceTable__lKO4P .SectorPerformanceTable_best__6_pvH {
    background-color: #a8e6a3; /* Light green */
    font-weight: bold;
  }
  
  .SectorPerformanceTable_performanceTable__lKO4P .SectorPerformanceTable_worst__foE5o {
    background-color: #f7a8a8; /* Light red */
    font-weight: bold;
  }
  
